#spinner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000;
    z-index: 2;
    /* to center the element */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
}

